
/* @import url(https://fonts.googleapis.com/css2?family=Material+Symbols); */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);
@import url("https://uilight.netlify.app/main.css");

@import "tailwindcss";


body {
  margin: 0;
}


.material-symbols-outlined {
  font-size: 40px;
}

